* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;

}

body {
    background: url('https://images.pexels.com/photos/1798642/pexels-photo-1798642.jpeg?auto=compress&cs=tinysrgb&w=600') center/cover fixed;
}

.header {
    background-color: #281218;
}
.logo-container {
    display: flex;
    align-items: center;
}

.logo-container img {
    max-width: 50px; 
    margin-right: 10px; 
}

.logo-container span {
    font-size: 1.5em; 
    color: #FDFCD4; 
    font-weight: bold;

}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    position: sticky;
}

.navigation img {
    max-width: 100px;
}

.navigation ul {
    list-style-type: none;
    display: flex;
}

.navigation li {
    margin-right: 20px;
}

.navigation a {
    text-decoration: none;
    color: #FDFCD4;
    font-weight: bold;
}

.navigation a:hover {
    color: #C78E3A;
}

/* Hero Section */

.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://curve-theatre.s3.amazonaws.com/wordpress/uploads/2023/02/The-Book-Thief_show-homepage_1800x600-2.jpg");
    min-height: 650px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    /* filter: blur(3px);  */
}

.hero-txt {
    text-transform: capitalize;
    font-size: 1.6em;
    color: #C78E3A;
    text-align: center;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 440px;
    transform: translate(-50%, -50%);
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

.hero-text h1 {
    font-size: 1.0em;
    margin-top: 20px;
    margin-bottom: 30px;
    line-height: 25px;
    text-align: justify;
}

.hero-text button {
    padding: 10px 50px;
    background-color: #C78E3A;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1em;
}

.hero-text button:hover {
    background-color: #E3B76A;
}

/*About Section */

.about-us {
    padding: 50px 0;
    background-color: #281218
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}

.about-us h2 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 30px;
    color: #E3B76A;
}

.author-info {
    display: flex;
    justify-content: space-between;
}

.author-image {
    max-width: 45%;
    mask-clip: content-box;

}

.author-image img {
    width: 100%;
    height: auto;
    border-radius: 200px;
    transition: border-radius 0.3s ease;
}

.author-image img:hover {
    border-radius: 50%;
}

.author-description {
    max-width: 50%;
}

.author-description p {
    font-size: 1.1em;
    line-height: 1.6;
    color: #FDFCD4;
    text-align: justify;
}


/*prolouge section */

.prologue-container h2 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 30px;
    color: #E3B76A;
}

section.prologue {
    padding: 40px;
    color: white;
}

.prologue-container {
    max-width: 800px;
    margin: 0 auto;
}

.prologue-container p {
    font-size: 1.1em;
    line-height: 1.6;
    color: #FDFCD4;
    text-align: justify;
}

/* gallery section */

.gallery {
    background-color: #281218;
}

.gallery h2 {

    text-align: center;
    font-size: 2em;
    margin-bottom: 30px;
    color: #E3B76A;
}

.wrapper {
    width: 80%;
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
}

.wrapper img {
    width: 100%;
    cursor: pointer;
    transition: 1s ease;
}

.wrapper img:hover {
    transform: scale(0.9);
}

/*Contact */

.contact {
    margin-left: 330px;
    margin-bottom: 60px;
}

.contact-box {
    max-width: 850px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fff;
    box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19);
}

.left {
    background: url("https://mir-s3-cdn-cf.behance.net/project_modules/hd/1dfc0610362251.560e3ae3a0997.jpg ") no-repeat center;
    background-size: cover;
    height: 100%;
}

.right {
    padding: 25px 40px;
}

.contact-text {
    position: relative;
    padding: 0 0 10px;
    margin-bottom: 10px;
}

.contact-text:after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    background-color: #C78E3A;
}

.field {
    width: 100%;
    border: 2px solid rgba(0, 0, 0, 0);
    outline: none;
    background-color: rgba(230, 230, 230, 0.6);
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    margin-bottom: 22px;
    transition: .3s;
}

.field:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

textarea {
    min-height: 150px;
}

.btn {
    width: 100%;
    padding: 0.5rem 1rem;
    background-color: #C78E3A;
    color: #fff;
    font-size: 1.1rem;
    border: none;
    outline: none;
    cursor: pointer;
    transition: .3s;
}

.btn:hover {
    background-color: #E3B76A;
}

.field:focus {
    border: 2px solid rgba(147, 147, 18, 0.47);
    background-color: #fff;
}

footer {
    background-color: #281218;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

/*Responsive Qurieis */

@media only screen and (max-width: 768px) {
    .navigation {
        flex-direction: column;
        align-items: center;
    }

    .navigation img {
        max-width: 80px;
    }

    .navigation ul {
        margin-top: 20px;
    }

    .navigation li {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .hero-text {
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .prologue-container h2,
    .gallery h2 {
        font-size: 1.8em;
    }

    .wrapper {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

    .contact {
        margin-left: 0;
    }

    .contact-box {
        grid-template-columns: 1fr;
    }

    footer {
        text-align: center;
    }
}

@media only screen and (max-width: 768px) {
    .about-us {
        padding: 30px 0;
    }

    .about-us h2 {
        font-size: 1.5em;
    }

    .author-info {
        flex-direction: column;
        align-items: center;
    }

    .author-image {
        max-width: 100%;
        margin-bottom: 20px;
    }

    .author-description {
        max-width: 100%;
    }

    .author-description p {
        text-align: center;
    }
}